<div class="col-lg-12">
    <!-- place for panels -->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <i class="fa fa-pencil fa-fw"></i> Zadania z grupy: {{group.name}}
            <div has-permission="Administrator" class="pull-right">
                <div class="btn-group">
                    <a ui-sref="group-assignments-new({groupId: group._id.$oid})"
                       class="btn btn-default btn-xs">Dodaj</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="panel-group" id="groupAssignmentsAccordion">
                <div ng-repeat="assignment in assignments" class="panel panel-default" id="assignment-panel-{{assignment._id.$oid}}">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#groupAssignmentsAccordion"
                               href="#assignment-{{assignment._id.$oid}}">
                                {{assignment.title}}
                            </a>
                        </h4>
                    </div>

                    <div id="assignment-{{assignment._id.$oid}}" ng-class="expandLast($last)">
                        <div class="panel-body">
                            <!-- TODO: Wyświetlenie wyniku, czasu do końca itd. dla usera -->
                            Jeszcze nie rozwiązałeś tego zadania!
                            <br>
                            <!--<ul class="list-assignment-actions">-->
                            <!--<li>-->
                            <a ui-sref="group-assignments-show({groupId: group._id.$oid, id: assignment._id.$oid})"
                               class="btn btn-outline btn-default btn-block">Pokaż szczegóły</a>
                            <!--</li>-->
                            <!--<li>-->
                            <a has-permission="Administrator"
                               ui-sref="group-assignments-edit({groupId: group._id.$oid, id: assignment._id.$oid})"
                               class="btn btn-outline btn-warning btn-block">Edytuj</a>
                            <a has-permission="Administrator" ng-click="deleteAssignment(group._id.$oid, assignment._id.$oid)"
                               class="btn btn-outline btn-danger btn-block">Usuń</a>
                            <!--</li>-->
                            <!--</ul>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .panel-body -->
        <div ui-view autoscroll="false"></div>
    </div>
    <!-- /.panel -->
</div>
<!-- /.col-lg-12 -->