<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-group fa-fw"></i> Wszystkie grupy w systemie
            <div has-permission="Administrator" class="pull-right">
                <div class="btn-group">
                    <a ui-sref="groups-list.new" class="btn btn-default btn-xs">Dodaj</a>
                </div>
            </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">

            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="groups-table">
                    <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="group in groups" id="{{group._id.$oid}}">
                        <td>{{group.name}}</td>
                        <td>
                            <a has-permission="Administrator" ui-sref="groups-groupId-users({groupId: group._id.$oid})" class="btn btn-info btn-xs">Członkowie</a>
                            <a has-permission="Administrator" ui-sref="groups-list.edit({groupId: group._id.$oid})" class="btn btn-warning btn-xs">Edytuj</a>
                            <a has-permission="Administrator" ng-click="deleteGroup(group._id.$oid)" class="btn btn-danger btn-xs">Usuń</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
        <div ui-view autoscroll="false"></div>
    </div>
    <!-- /.panel-default -->
</div>
<!-- /.col-lg-12 -->