<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Szczegóły zadania: {{assignment.title}}, z grupy: {{group.name}}
            <div class="pull-right">
                <a ui-sref="group-assignments-list({groupId: group._id.$oid})"
                   class="btn btn-default btn-xs">Pozostałe zadania</a>
                <a data-check-permission-in-group data-group-to-check="group" data-allow-permission="Administrator,Educator"
                   ng-click="activateAssignment()" ng-hide="assignment.enabled"
                   class="btn btn-success btn-xs">Aktywuj</a>
                <a data-check-permission-in-group data-group-to-check="group" data-allow-permission="Administrator,Educator"
                   ng-click="dactivateAssignment()" ng-show="assignment.enabled"
                   class="btn btn-warning btn-xs">Dezaktywuj</a>
                <a data-check-permission-in-group data-group-to-check="group" data-allow-permission="Administrator,Educator"
                   ng-click="deleteAssignment()" class="btn btn-danger btn-xs">Usuń</a>
            </div>
        </div>
        <div class="panel-body">
            <div marked="assignment.description"></div>
            <div ng-repeat="exercise in assignment.exercises" class="excersise">
                <h2>Ćwiczenie {{$index + 1}}</h2>

                <div marked="exercise.description"></div>
                <p ng-show="exercise.hint !== ''" class=""><strong>Podpowiedź: </strong>{{exercise.hint}}</p>
                <div ng-hide="$index == (assignment.exercises.length - 1)">
                    <hr>
                </div>
            </div>
            <hr>
            <div data-check-permission-in-group data-group-to-check="group" data-allow-permission="NormalUser" class="table-responsive" ng-show="solution.result !== null">
                <table class="table results-table">
                    <thead>
                    <tr>
                        <th>Zaliczonych testów</th>
                        <th>Wszystkich testów</th>
                        <th>Procent</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-class="{success: isSuccess, warning: isWarning, danger: isDanger}">
                        <td>{{solution.result.testsDetails.testsSucceeded}}</td>
                        <td>{{solution.result.testsDetails.totalTestsCount}}</td>
                        <td>{{solution.result.mark}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p ng-show="solution.result === null">
                Rozwiązanie nie zostało jeszcze przesłane lub jest w trakcie analizy.
            </p>
        </div>
        <!-- /.panel-body -->
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-2 col-md-offset-5">
                    <a class="btn btn-default pull" href="{{projectLink}}" target="_blank"><i
                            class="fa fa-cloud-download fa-fw"></i>
                        Pobierz projekt</a>
                </div>
            </div>
        </div>
        <!-- /.panel-footer -->
    </div>
    <!-- /.panel -->
</div>
<!-- /.col-lg-12 -->