<div class="panel-footer">
    <form ng-submit="createUser()" role="form">
        <p class="help-block">Edycja użytkownika o ID: {{user._id.$oid}}</p>

        <div class="form-group">
            <label>E-mail</label>
            <input type="email" ng-model="user.email" class="form-control" required="true" value="{{user.email}}">
            <label>Nowe hasło</label>
            <input type="password" pattern=".{6,}" title="Minimalna długość: 6" ng-model="user.password"
                   class="form-control" required="true">
            <br>
            <label>Rola</label>
            <br>
            <label class="radio-inline">
                <input type="radio" ng-model="user.permission" ng-checked="user" name="user-permission" required="true"
                       value="NormalUser">Uczestnik
            </label>
            <label class="radio-inline">
                <input type="radio" ng-model="user.permission" name="user-permission" value="Administrator">Administrator
            </label>
        </div>
        <button class="btn btn-warning btn-sm">Zapisz zmiany</button>
    </form>
</div>
<!-- /.panel-footer -->
