<div class="panel-footer">
    <form id="shortEditUser" name="editUserForm" ng-submit="updateUser()">
        <p class="help-block">Edycja użytkownika o ID: {{user._id.$oid}}</p>

        <div class="form-group">
            <label>E-mail</label>
            <input type="email" name="email" ng-model="user.email" class="form-control" required="true">
        </div>

        <div class="form-group">
            <a href="#" id="shortEditChangePass">Zmień hasło</a>
            <div id="editUserFormPasswords">
                <label>Nowe hasło</label>
                <input type="password" name="password" ng-model="user.password" pass-check="passRepeated"
                       class="form-control"
                       pattern=".{6,}" title="Minimalna długość: 6">

                <label>Powtórz hasło</label>
                <input type="password" name="passwordRepeated" ng-model="passRepeated" class="form-control"
                       pattern=".{6,}"
                       title="Minimalna długość: 6">
            <span class="alert alert-danger alert-tooltip" ng-show="editUserForm.password.$error.passMatch">
                Powtórzone hasło nie jest takie same. </span>

            </div>
        </div>

        <div class="form-group">
            <label>Rola</label>
            <br>
            <label class="radio-inline">
                <input type="radio" ng-model="user.permission" ng-checked="user" name="user-permission" required="true"
                       value="NormalUser">Uczestnik
            </label>
            <label class="radio-inline">
                <input type="radio" ng-model="user.permission" name="user-permission" value="Educator">Prowadzący
            </label>
            <label class="radio-inline">
                <input type="radio" ng-model="user.permission" name="user-permission" value="Administrator">Administrator
            </label>
        </div>

        <button class="btn btn-warning btn-sm">Zapisz zmiany</button>
    </form>
</div>
<!-- /.panel-footer -->
