h1.page-header {
  margin: 15px 0 15px 0;
}

.alert-tooltip {
  position: relative;
  left: 35%;
  bottom: 25px;
}

div#editUserFormPasswords {
  display: none;
}

table.table-bright {
  background: #ffffff;
}

div#groupSelectModal {
  top: 20%;
}

.exercise-description-helpers {
  position: relative;
  margin-top: -20px;
  margin-left: 150px;
}

.form-group-file {
  margin-top: 30px;
  width: 100%;
}

.form-group-file input {
  position: relative;
  left: 135px;
  top: -25px;
  margin-bottom: -20px;
}

form#assignmentForm .tooltip-inner {
  max-width: 350px;
}