h1.page-header {
  margin: 15px 0px 15px 0px;
}

.alert-tooltip {
  position: relative;
  left: 35%;
  bottom: 25px;
}

div#editUserFormPasswords {
  display: none;
}

table.table-bright {
  background: #ffffff;
}
