h1.page-header {
  margin: 15px 0 15px 0;
}

.alert-tooltip {
  position: relative;
  left: 35%;
  bottom: 25px;
}

div#editUserFormPasswords {
  display: none;
}

table.table-bright {
  background: #ffffff;
}

div#groupSelectModal {
  top: 20%;
}

.exercise-description-helpers {
  position: relative;
  margin-top: -20px;
  margin-left: 150px;
}

.form-group-file, .form-group-file-edit {
  margin-top: 30px;
  width: 100%;
}

.form-group-file input {
  position: relative;
  left: 135px;
  top: -25px;
  margin-bottom: -20px;
}


.form-group-file-edit input {
  position: relative;
  left: 170px;
  top: -25px;
  margin-bottom: -20px;
}

form#assignmentForm .tooltip-inner {
  max-width: 350px;
}

ul.list-assignment-actions {
  list-style-type: none;
}

ul.list-assignment-actions li {
  float: left;
  margin: 10px 7% 0 0;
}

ul.list-assignment-actions :first-child {
  position: relative;
  left: -15px;
}

ul.list-assignment-actions li a {
  width: 150%;
}

.btn-warning.btn-outline {
  color: #d58512;
}

ul.download-files-edit {
  margin-top: 10px;
  list-style: none;
  text-align: right;
}

ul.download-files-edit li {
  padding: 7px 0 15px 0;
}