@(currentUser: Account)

@layout(currentUser) {

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Panel główny</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div ui-view="main" autoscroll="false"></div>
    <div ui-view="right" autoscroll="false"></div>
    <!--<div class="col-lg-7">-->
        <!--&lt;!&ndash; place for panels &ndash;&gt;-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-body">-->
                <!--&lt;!&ndash;<div ui-view autoscroll="false"></div>&ndash;&gt;-->
                <!--&lt;!&ndash; We'll also add some navigation: &ndash;&gt;-->
                <!--&lt;!&ndash;<a ui-sref="state1">State 1</a>&ndash;&gt;-->
                <!--&lt;!&ndash;<a ui-sref="state2">State 2</a>&ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; /.panel-body &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; /.panel &ndash;&gt;-->

    <!--</div>-->
    <!--&lt;!&ndash; /.col-lg-7 &ndash;&gt;-->

</div>
<!-- /.row -->

}