@(currentUser: Account)(content: Html)

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel użytkownika</title>
    <link href='@routes.Assets.at("stylesheets/bootstrap.min.css")' rel="stylesheet">
    <link href='@routes.Assets.at("stylesheets/typeahead.css")' rel="stylesheet">
    <link href='@routes.Assets.at("font-awesome/css/font-awesome.css")' rel="stylesheet">
    <link href='@routes.Assets.at("stylesheets/bootstrap-markdown.min.css")' rel="stylesheet">
    <link href='@routes.Assets.at("stylesheets/sb-admin.css")' rel="stylesheet">
    <link href='@routes.Assets.at("stylesheets/plugins/ng-table/ng-table.min.css")' rel="stylesheet">
    <link href='@routes.Assets.at("stylesheets/scaxerciser.css")' rel="stylesheet">
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Scaxerciser | @currentUser.email</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            @if(Account.isNormalUser(currentUser)) {
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-tasks">
                    @Solution.all(currentUser, 0, 5, com.mongodb.casbah.Imports.DBObject("_id" -> -1)).map { solution =>
                        @defining(solution.assignment) { assignment =>
                            @defining({ if(solution.result == null) 0 else solution.result.mark }) { mark =>
                            <li>
                                <a ui-sref="group-assignments-show({groupId: '@assignment.get.groupId.toString', id: '@assignment.get.id.toString'})">
                                <div>
                                    <p>
                                        <strong>@assignment.get.title</strong>
                                        <span class="pull-right text-muted">@mark.round %</span>
                                    </p>

                                    <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-success" role="progressbar"
                                                 aria-valuenow="@mark.round"
                                                 aria-valuemin="0" aria-valuemax="100" style="width: @mark.round%">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            }
                        }
                    }
                    <li>
                        <a class="text-center" ui-sref="user-solutions-list({userId: '@currentUser.id.toString'})">
                            <strong>Pokaż wszystkie wyniki</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-tasks -->
            </li>
            <!-- /.dropdown -->
            }

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> Profil użytkownika</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Ustawienia</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Wyloguj</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

    </nav>
    <!-- /.navbar-static-top -->

    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Szukaj...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                    </div>
                    <!-- /input-group -->
                </li>
                <!--<li>-->
                    <!--<a href="/"><i class="fa fa-dashboard fa-fw"></i> Kokpit</a>-->
                <!--</li>-->
                @if(Account.isEducator(currentUser)) {
                <li>
                    <a ui-sref="groups-list"><i class="fa fa-group fa-fw"></i> Grupy</a>
                </li>
                }
                @if(Account.isAdmin(currentUser) || Account.isEducator(currentUser)) {
                <li>
                    <a ui-sref="users-list"><i class="fa fa-user fa-fw"></i> Użytkownicy</a>
                </li>
                }
                <li>
                    @if(Account.isEducator(currentUser)) {
                    <a href="#"><i class="fa fa-pencil fa-fw"></i> Zadania<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <!--data-toggle="modal" data-target="#groupSelectModal" data-backdrop="false"-->
                            <a href="#" id="addNewAssignment"><i class="fa fa-plus fa-fw"></i> Dodaj</a>
                        </li>
                        <li>
                            <a href="#" id="showAssignmentsList"><i class="fa fa-list fa-fw"></i> Pokaż</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                    }
                    @if(Account.isNormalUser(currentUser)) {
                    <a href="#" id="showAssignmentsList"><i class="fa fa-pencil fa-fw"></i> Zadania</a>
                    }
                    <!-- modal -->
                    <div class="modal fade" id="groupSelectModal" tabindex="-1" role="dialog"
                         aria-labelledby="groupSelectModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="groupSelectModalLabel">Wybierz grupę</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <input class="typeahead form-control" type="text"
                                               placeholder="Szukaj grupy" required="true">
                                        <input type="hidden" id="modalNextAction" value="new">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /modal -->
                </li>
            </ul>
            <!-- /#side-menu -->
        </div>
        <!-- /.sidebar-collapse -->
    </nav>
    <!-- /.navbar-static-side -->

    <div id="page-wrapper">
        @content
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<script src='@routes.Assets.at("javascripts/jquery-1.11.0.min.js")'></script>
<script src='@routes.Assets.at("javascripts/bootstrap.min.js")'></script>
<script src='@routes.Assets.at("javascripts/typeahead.bundle.js")'></script>
<script src='@routes.Assets.at("javascripts/plugins/metisMenu/jquery.metisMenu.js")'></script>
<script src='@routes.Assets.at("javascripts/notify.min.js")'></script>
<script src='@routes.Assets.at("javascripts/marked.js")'></script>
<script src='@routes.Assets.at("javascripts/bootstrap-markdown.js")'></script>
<script src='@routes.Assets.at("javascripts/sb-admin.js")'></script>

<script src='@routes.Assets.at("javascripts/angular/angular.min.js")'></script>
<script src='@routes.Assets.at("javascripts/angular/angular-resource.min.js")'></script>
<script src='@routes.Assets.at("javascripts/angular/angular-route.min.js")'></script>
<script src='@routes.Assets.at("javascripts/angular/angular-marked.js")'></script>
<script src='@routes.Assets.at("javascripts/angular/angular-ui-router.min.js")'></script>
<script src='@routes.Assets.at("javascripts/angular/angular-ui-router.viewDirective.js")'></script>
<script src='@routes.Assets.at("javascripts/angular/ng-table/ng-table.min.js")'></script>
<script src='@routes.Assets.at("javascripts/angular/ng-upload.min.js")'></script>

<script src='@routes.Assets.at("javascripts/angular/app/app.js")'></script>
<script src='@routes.Assets.at("javascripts/angular/app/controllers.js")'></script>
<script src='@routes.Assets.at("javascripts/angular/app/services.js")'></script>
<script src='@routes.Assets.at("javascripts/angular/app/directives.js")'></script>

<script src='@routes.Assets.at("javascripts/scaxerciser.js")'></script>
</body>
</html>
